<div class="text-center">
  <h1 id="greeting">Welcome to the TaskManager!</h1>
    <ul>
      <div class="well">
        <h4>
          <li><a href="/tasks">Task Index</a></li>
          <li><a href="/tasks/new">New Task</a></li>
        </h4>
      </div>
    </ul>
  </div>
