<div class="text-center">
  <form action="/tasks" method="post">
    <div class="form-group">
      <h1>Enter a new task:</h1>
        <label for='exampleInputTask'>Task name:</lable>
          <input type='text' name='task[title]' id='exampleInputTask'/><br/>
        </div>
        <div class="form-group">
          <label for='exampleInputTaskDescription'>Task description:</lable>
            <textarea name='task[description]' id='exampleInputTaskDescription'></textarea><br/>
        </div>
          <input type='submit' class="btn btn-default"/>
  </form>
</div>
