<div class="text-center">
  <div id="panel" class="panel panel-primary">
    <div class="panel-heading"><h1>Title: <%= @task.title %></h1>
    </div>
    <div class="panel-body">
      <p>Description: <%= @task.description %></p>
    </div>
  </div>
</div>

<a href="/tasks">Task Index</a>
